
@font-face {
    font-family: 'Blanch';
    src: url('fonts/Blanch/BLANCH_CAPS.otf') format("opentype");
}

.blanch {
    font-family: "Blanch";
    font-size: 2em;
}

.outline {
    border: 2px solid #333
}
