
@font-face {
    font-family: 'Blanch';
    src: url('fonts/Blanch/BLANCH_CAPS.otf') format("opentype");
}

.custom-navbar-item {
  position: relative;
  height: 40px;
  font-size: 30px;
  line-height: 35px;
  color: #FFF;
  margin-right: 10px;
  font-family: "Blanch";
  padding-left: 10px;
  padding-right: 10px;
}

.custom-navbar-item:hover {
  margin-top: -3px;
  border-bottom: 3px double #FFF;
  border-top: 3px double #FFF;
}

.big-text {
  margin-bottom: 30px;
  margin-top: 10px;
}

.big-text span {
  font-family: "Blanch";
  font-size: 100px;
  line-height: 100px;
}


.shadow-bottom {
  box-shadow: 3px 3px 5px #888;
}

.outline {
    border: 2px solid #333
}

.metric-label-text {
  font-size: 1.5em;
  font-weight: bold;
  vertical-align: middle;
  margin: 0px 10px;
}

.metric-row {
    background-color: #DDD;
    border-radius: 10px;
    padding: 20px;
}

.justify {
  text-align: justify;
}
