<div class="container">
    <div class="row">
        <div class="text-center">
            <img src="images/bwBug.png" />
            <br />
            <strong>Drew Banin</strong><br />
            <strong>Drexel University</strong><br />
            <strong>Computer Science</strong>
        </div>
    </div>
    <hr />
    <div class="row">
        <div ng-controller="ChartCtrl" id="chartBox" class="col-med-8 col-med-offset-2 outline" style="height:400px">
            <div data='lifeData' life-chart></div>
        </div>
    </div>
</div>
