<div id='wrap'> 
  <div class='container'>
    <div class='row'>
      <div class='text-center'>
        <img src='images/bwBug.png' />
        <br />
        <strong>Drew Banin</strong><br />
        <strong>Drexel University</strong><br />
        <strong>Computer Science</strong>
      </div>
    </div>
    <hr />
    <div ng-controller='ChartCtrl' id='chartBox' class='col-md-12' style='height:400px'>
      <div class='well'>
        <span class='label label-default metric-label'>Plot</span>
        <span ng-show="metrics.length" ng-repeat='selectedMetric in metrics'>
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              {{selectedMetric.label}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat='metric in (unselectedMetrics = (metricList | filter:selected == false))'>
                <a href='javascript: void(0)' ng-click='replaceMetric(selectedMetric, metric)'>{{metric.label}}</a>
              </li>
              <li class="divider" ng-show='unselectedMetrics.length'></li>
              <li><a href='javascript: void(0)' ng-click='removeMetric(selectedMetric)'>Remove <b class='glyphicon glyphicon-remove'></b></a></li>
            </ul>
          </div>
          <span class='label label-default metric-label' ng-show="$index != metrics.length - 1 && $index != metricList.length - 2">and</span>
          <span class='label label-default metric-label' ng-show="($index == metrics.length - 1 || $index == metricList.length - 2) && $index != metricList.length - 1">against</span>
        </span>
        <div class="btn-group" ng-show='metrics.length < metricList.length'>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span ng-show='metrics.length == 0'>Something</span>
            <span ng-show='metrics.length > 0'>Something else</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat='metric in metricList | filter:selected == false'>
              <a href='javascript: void(0)' ng-click='addMetric(metric)'>{{metric.label}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div ng-show='metrics.length'>
        <div data='lifeData' life-chart></div>
      </div>
    </div>
  </div>
  <div id='push'></div>
</div> 
<div id='footer'>
</div>
