<nav class="shadow-bottom navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-brand">
      <img src='http://placehold.it/350x40' />
    </div>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><div class="custom-navbar-item">Home</div></a></li>
      <li><a href="#"><div class="custom-navbar-item">Resume</div></a></li>
      <li><a href="#"><div class="custom-navbar-item">Contact</div></a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
